body {
    font-family: 'Times New Roman', Times, serif;
    height: 900px;
    width: 1800;
    background-color: black;
}

.main {
    width: 500px;
    display: block;
    margin: auto;
}

.header {
    font-size: 50px;
    color: brown;
    background-color: rgb(15, 42, 124);
    width: auto;
    text-align: center;

}

.recipe-list {
    background-color: yellowgreen;
    font-size: 36px;
    width: auto;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.main-recipe-link {
    height: 3em;
    width: 15em;
    margin: 10px;
    border-color: blue;
    font-size: 25px;
}

#recipe-pic {
    width: 500px;
    height: auto;
    
}

.description {
    font-size: 35px;
    text-align: center;
    color: teal;
    background-color: crimson;
}

.para {
    font-size: 25px;
    text-align: center;
    color: yellow;
    background-color: chocolate;
    text-emphasis: 10;
    margin: 0;
    padding: 10px;
}

.uno-list {
    text-align: center;
    background-color: yellowgreen;
    font-weight: 1000;
    width: auto;
    padding: 0px;
    font-size: 23px;
}

.justif {
    text-align: center;
    width: 500px;
}

.ono-list {
    background-color: steelblue;
    color: chartreuse;
    font-size: 23px;
}


.ing-list, li {
    padding: 5px 0px;
}

.recipe-part {
    font-size: 30px;
    font-style: italic;
    color: azure;
    margin: 15px 0px 0px 0px;
}