body {
    font-family: 'Times New Roman', Times, serif;
    height: 900px;
    width: 1800;
    background-color: black;
}

.main {
    width: 500px;
    display: block;
    margin: auto;
}

.header {
    font-size: 50px;
    color: brown;
    background-color: rgb(15, 42, 124);
    width: auto;
    height: 100px auto;
    text-align: center;

}

.recipe-list {
    background-color: yellowgreen;
    font-size: 36px;
    width: auto;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#recipe-pic {
    width: auto;
    height: 500px;
    
}

.description {
    font-size: 35px;
    text-align: center;
    color: teal;
    background-color: crimson;
}

.para {
    font-size: 25px;
    text-align: center;
    color: yellow;
    background-color: chocolate;
    text-emphasis: 10;
}

.uno-list {
    background-color: yellowgreen;
    font-weight: 1000;
    width: 300px;
    font-size: 23px;

}

.justif {
    text-align: left;
    width: 400px;
}

.ono-list {
    background-color: steelblue;
    color: chartreuse;
    font-size: 23px;
}